doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title WeatherJS
  link(rel='stylesheet' href='https://bootswatch.com/4/cerulean/bootstrap.min.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
  style.
    #search:focus {
    box-shadow: none;
    }
    .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, .5);
    }
    .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.container
  h2.text-center.mt-3 WeatherJS Search
  .row
    #wrapper.col-md-8.rounded.mx-auto.text-center.p-5.mt-4.mb-4.text-center.bg-primary
      form#w-form
        .row.bg-white.rounded.border-0.shadow
          .col-md-10.pl-0
            .form-group.mb-0.border-0
              label.sr-only(for='search') City
              input#search.form-control.bg-white.border-0(type='search' list='search-list' placeholder='Digite o nome de sua cidade' autofocus='')
              datalist#search-list
          .col-md-2.pr-0
            button#btnsearch.btn.btn-danger.form-control.border-0(type='button' style='margin-right: -1px;')
              i.fas.fa-search
      .mt-3
        h1#w-location #{local}
        h3#w-desc.text-dark #{temp}
        h3#w-string #{ceu}
        img#w-icon(src=`${image}` alt='' width='85')
        ul#w-details.list-group.mt-3.mx-auto.col-md-9
          li#w-humidity.list-group-item #{humidade}
          li#w-pressure.list-group-item #{vento}
          li#w-wind.list-group-item #{sensacao}
          li#w-cloud-cover.list-group-item
// Bootstrap JS requirements
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')

script(type="text/javascript").
  btnsearch.addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '/search?q='+search.value;
  }, false);
